{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>details</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h2>{{ topic.title }}</h2>
    <ul>
        {% for name, result in results.items %}
        <li>
            {{ name }} ({{ result }})
        </li>
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'vote_poll' topic.id %}"><button>vote</button></a>
        <a href="{% url 'update_poll' topic.id %}"><button>modify</button></a>
        <a href="{% url 'delete_poll' topic.id %}"><button>delete</button></a>
    </div>
</body>
</html>